.appbar {
  width: 100vw;
  background-color: var(--color-background);
  position: sticky;
  top: -17rem;
  @media (max-width: 1200px) {
    top: 0;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    box-shadow: 0px -26px 21px 18px #000000;
  }
}

.appbar-wrapper {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-inline: auto;
  max-width: 1920px;

  @media (min-width: 1200px) {
    padding: 1rem 9rem;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 345px;
      height: 345px;
      opacity: 50%;
      background: linear-gradient(285deg, var(--color-background) 38%, rgba(61, 65, 67, 0) 52%),
        linear-gradient(30deg, var(--color-background) 15%, rgba(61, 65, 67, 0) 35%),
        linear-gradient(345deg, var(--color-background) 25%, rgba(61, 65, 67, 0) 35%),
        linear-gradient(355deg, var(--color-background) 30%, rgba(61, 65, 67, 0) 40%),
        linear-gradient(90deg, var(--color-background) 1%, rgba(61, 65, 67, 0) 10%),
        url(/src/assets/images/Headshot.png);
      background-size: contain;
      background-repeat: no-repeat;
      mix-blend-mode: luminosity;
      z-index: -1;
    }
  }
}

.site-title {
  color: var(--color-text);
  font-weight: 600;
  span {
    color: var(--color-primary);
  }
}

.title-group {
  text-decoration: none;
  display: flex;
  position: sticky;
  align-items: center;
  top: 1rem;
  gap: var(--gap, 1rem);
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  @media (min-width: 1200px) {
    &[data-size='large'] {
      font-size: 2rem;
      .logo {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
.logo {
  transition: all 0.2s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
}

.primary-navigation {
  --gap: 2.5rem;
  flex-direction: column;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 4rem;

  @media (min-width: 1200px) {
    padding: 0.5rem;
    flex-direction: row;
    &::before {
      content: '';
      background: var(--color-primary);
      position: absolute;
      z-index: -1000;
      inset: -18.5rem -14rem -5rem 4.4rem;
      transform: skew(-54.75deg);
    }
  }
  a {
    text-decoration: none;
    color: var(--color-text-alt);
    font-weight: 600;
    font-size: 1rem;
    @media (max-width: 1200px) {
      font-size: 1.25rem;
    }

    position: relative;
    &:hover {
      color: var(--color-text);
    }
  }
}

.triangles {
  height: 17em;
  flex-shrink: 0;
  svg {
    height: 14em;
  }
  @media (max-width: 1200px) {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 5em;
    rotate: -10deg;
    &::before {
      content: '';
      rotate: -35deg;
      translate: -87px -87px;
      z-index: -1;
      position: absolute;
      inset: -5em -10em 0 -10em;
      background-color: var(--color-background); /* to see where it is */
    }
  }
}

.nav-group {
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    position: fixed;
    inset: 0 0 0 30%;
    background-color: var(--color-primary);
    overflow: hidden;
    border-left: 5px solid var(--color-primary);
    border-top: 5px solid var(--color-primary);
    translate: 100%;
    transition: translate 500ms ease;
    &[data-visible='true'] {
      translate: 0%;
    }
  }
  @media (min-width: 700px) and (max-width: 1200px) {
    flex-direction: row;
  }
}

.social-links {
  @media (min-width: 1200px) {
    position: absolute;
    bottom: -4.1rem;
    transform: translateX(-8.3rem);
    width: 25rem;
  }

  @media (max-width: 1200px) {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
  }

  .flex-group {
    list-style: none;
    justify-content: space-evenly;
    height: 4rem;
  }
}
.social-link {
  color: var(--color-background);
  text-decoration: none;
  border: var(--color-background) solid 3px;
  border-radius: 100vh;
  padding: 0.2rem 0.6rem;
  font-weight: bold;
  font-size: 0.75rem;
  &:hover {
    color: var(--color-text);
    border: var(--color-text) solid 3px;
  }
}

.social-icon {
  color: var(--color-background);
  height: 1.5rem;
  &:hover {
    color: var(--color-text);
  }
  svg {
    height: 1.5rem;
    vertical-align: -0.5em;
  }
}

.primary-navigation .link::after {
  content: '';
  position: absolute;
  inset: 1.75rem 100% -0.7rem 100%;
  background-color: var(--color-text);
  border-radius: 100vw;
  transition: all 0.5s ease;

  @media (max-width: 1200px) {
    inset: 2rem 100% -0.7rem 100%;
  }
}

.primary-navigation .link.active::after {
  inset: 1.75rem -0.5rem -0.7rem -0.5rem;

  @media (max-width: 1200px) {
    inset: 2rem -0.5rem -0.7rem -0.5rem;
  }
}

.nav-button {
  background: none;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  z-index: 9999;
  right: 2rem;
  transition: right 450ms ease;

  @media (min-width: 1200px) {
    display: none;
  }

  &[aria-expanded='true'] {
    right: calc(70vw - 3.5rem);
    transition-delay: 50ms;
  }

  &-icon {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--color-foreground);
  }
}
