.hero-section {
  padding: 6rem 10rem;
  @media (max-width: 1200px) {
    padding-inline: 2.5rem;
  }
  margin-block: 5rem;
  .section-title {
    font-size: 4rem;
    span {
      color: var(--color-secondary);
      text-decoration: underline solid;
      text-underline-offset: 0.6rem;
      font-size: 4rem;
    }
  }
}
