.section-title {
  font-weight: 600;
  font-size: 3rem;
  color: var(--color-text-heading);
}

.section-content {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: var(--color-text-subheading);
}

.button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 100vw;
  padding: 0.75em 2em;
  color: var(--color-text);
  font-weight: 700;
  font-size: 1rem;
}
.call-to-action {
  background-color: var(--color-secondary);
}

.welcome-section {
  padding: 6rem 10rem;
  margin: 5rem auto;
  max-width: 1920px;
  position: relative;
  z-index: -1;
}

.test {
  padding: 6rem 10rem;
  height: 1000px;
  border: 3px solid var(--color-text-body);
  margin: 1rem;
  color: var(--color-text);
  font-size: 3rem;
}
.home {
  position: absolute;
  inset: -27rem 0 -4rem 0;
}
