.appbar-wrapper {
  padding: 1rem 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-inline: auto;
  max-width: 1920px;

  @media (min-width: 1200px) {
    padding: 1rem 9rem;
  }
}

.appbar {
  width: 100vw;
  background-color: var(--color-background);
  position: sticky;
  top: -17rem;
  @media (max-width: 1199px) {
    top: 0;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    box-shadow: 0px -26px 21px 18px #000000;
  }
}

.current-project {
  display: none;
  div,
  img {
    display: none;
  }
  @media (min-width: 1200px) {
    display: block;
    div,
    img {
      display: block;
    }
    position: absolute;
    top: 0;
    left: -2rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: hsl(var(--color-foreground-hsl), 0.1);
    .button {
      font-size: 0.75rem;
      padding: 0.5em 1.5em;
      margin-inline: 1rem;
    }
    h3 {
      color: var(--color-text);
      font-family: 'Bebas Neue', cursive;
      font-size: 2rem;
    }
    h4 {
      color: var(--color-text-subheading);
      margin-bottom: 1rem;
    }
    div {
      padding-inline: 6rem;
      text-align: center;
    }
    img {
      height: 10rem;
      border-radius: 1.5rem;
      outline: 2px solid var(--color-foreground);
      outline-offset: -1px;
    }
  }
}

.site-title {
  color: var(--color-text);
  font-weight: 600;
  span {
    color: var(--color-primary);
  }
}

.title-group {
  text-decoration: none;
  display: flex;
  position: sticky;
  align-items: center;
  top: 1rem;
  gap: var(--gap, 1rem);
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  @media (min-width: 1200px) {
    &[data-size='large'] {
      font-size: 2rem;
      .logo {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

.logo {
  transition: all 0.2s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
}

.triangles {
  height: 17em;
  flex-shrink: 0;
  svg {
    height: 14em;
  }
  @media (max-width: 1199px) {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 5em;
    rotate: -10deg;
    &::before {
      content: '';
      rotate: -35deg;
      translate: -87px -87px;
      z-index: -1;
      position: absolute;
      inset: -5em -10em 0 -10em;
      background-color: var(--color-background);
    }
  }
}
